<div class="inner">

  <!-- <a href="/" class="logo">MATCH MAKER</a> -->
  <form action="/tomain" method="post">
    <input type="submit" value="Kick Maker" />
  </form>
  <ul class="main-menu">
      <% if(loginTeam){ %>
        <li class="menu">
          <div class="menu__name">My match</div>
          <div class="menu__contents">
            <ul class="inner">
                <li>${경기날짜} ${상대팀명}팀과의 경기</li>
            </ul>
          </div>
        </li>
        <li class="menu">
          <div class="menu__name">My page</div>
          <div class="menu__contents">
            <ul class="inner">
                <li>등록한 경기 정보</li>
                <li> 
                  <a href="/team-info">팀 정보</a>
                  <!-- 팀 정보 -->
                </li>
            </ul>
          </div>
        </li>
        <li class="menu">
          <!--배열명 : notifications 
          [
            {
              notif_id: 1,
              match_id: 16,
              receive_userid: 2,
              request_userid: 10,
              request_teamname: 'FC바바'
              requesttype: '요청'
            }
          ] -->
          <div class="menu__name">alert</div>
          <div class="menu__contents">
            <ul class="inner">
            <% for (var i=0;  i < notifications.length; i++) { %>
              <li><%= notifications[i].request_teamname %>팀이 경기를 <%= notifications[i].requesttype %>하였습니다.</li>
            <% } %>
            </ul>
          </div>
        </li>
        <li class="menu">
              <form action="/logout" method="post">
                <input type="submit" value="logout" />
              </form>
        </li>

      <% } else { %> 
        <a class="signinBtn" href="/signin">Sign In</a>
      <% } %>     
    </ul>
</div>