<div class="inner">

  <a href="/" class="logo">MATCH MAKER</a>

  <ul class="main-menu">
    <li class="menu">
      <div class="menu__name">My match</div>
      <div class="menu__contents">
        <ul class="inner">
          <li>${경기날짜} ${상대팀명}팀과의 경기</li>
        </ul>
      </div>
    </li>
    <li class="menu">
      <div class="menu__name">My page</div>
      <div class="menu__contents">
        <ul class="inner">
          <li>등록한 경기 정보</li>
          <li>팀 정보</li>
        </ul>
      </div>
    </li>
    <li class="menu">
      <div class="menu__name">alert</div>
      <div class="menu__contents">
        <ul class="inner">
          <li>[${축구팀}]팀이 경기를 요청하였습니다.</li>
          <li>[${축구팀}]팀이 경기를 요청하였습니다.</li>
          <li>[${축구팀}]팀이 경기를 요청하였습니다.</li>
        </ul>
      </div>
    </li>
    <li class="menu">
      <div class="menu__name">
        <a href="/signin">Sign In</a>
    </il>
    </ul>
</div>