<%# 테스트 양식입니다. 수정해주세요.%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;500;700&family=Raleway:wght@200;300;600&display=swap" rel="stylesheet">
  
  <title>KICKMATCH</title>

</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
      <div class="navbar__logo">
        <i class="fa-solid fa-car"></i>
        <a href="/test">KICKMATCH</a>
        <a href="/login_demo">login</a>
      </div>
  
      <ul class="navbar__menu">
        <a href="/register">register here</a>
          <p><%= title %></p>
          <p><%= Team[0].teamname %></p>
          <p>Q&A</p>
          <p>Body shop</p>
      </ul>
  
      <div class="navbar__hamburger">
        <a href=""><i class="fa-solid fa-bars"></i></a>
      </div>
    </nav>


    <canvas id="canvas" width="1000" height="1000" ></canvas>

    <script type="importmap">

  </script> 

</body>
</html>