<!DOCTYPE html>
<html lang="en">
<head>
  <title>메인페이지</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;500;700&family=Raleway:wght@200;300;600&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="../public/stylesheets/common.css">
  <link rel="stylesheet" href="../public/stylesheets/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="../public/javascripts/main.js"></script>
  <title>KICKMATCH</title>

</head>
<body>
<!--HEADER-->
    <!--HEADER-->
    <header>
      <div class="inner">

        <a href="/" class="logo">MATCH MAKER</a>

        <ul class="main-menu">
          <li class="menu">
            <div class="menu__name">My match</div>
            <div class="menu__contents">
              <ul class="inner">
                <li>${경기날짜} ${상대팀명}팀과의 경기</li>
              </ul>
            </div>
          </li>
          <li class="menu">
            <div class="menu__name">My page</div>
            <div class="menu__contents">
              <ul class="inner">
                <li>등록한 경기 정보 수정</li>
                <li>팀 승률 확인</li>
                <li>팀 프로필 변경</li>
                <li>계정 정보 변경</li>
              </ul>
            </div>
          </li>
          <li class="menu">
            <div class="menu__name">alert</div>
            <div class="menu__contents">
              <ul class="inner">
                <li>[${축구팀}]팀이 경기를 요청하였습니다.</li>
                <li>[${축구팀}]팀이 경기를 요청하였습니다.</li>
                <li>[${축구팀}]팀이 경기를 요청하였습니다.</li>
              </ul>
            </div>
          </li>
          <li class="menu">
            <div class="menu__name">
              <!-- 로그인되면 로그아웃으로 -->
              <a href="/signin">Sign In</a> 
          </il>
          </ul>
      </div>
    </header>

    <div class="main">
      <div class="inner">
        <div class="matchingBtn fade-in" onclick="location.href=('/match_making')">
          매칭 시작하기
        </div>
      </div>
    </div>

</body>
</html>