<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>경기 둘러보기</title>
  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../public/stylesheets/common.css">
  <link rel="stylesheet" href="../public/stylesheets/match_list.css">
  <script src="../public/javascripts/match_list.js"></script>
</head>
<body>
    <!--HEADER-->
    <!--HEADER-->
    <header>
      <%- include ("./header.ejs") %>
    </header>
  <div class ="container">
  <div class="inner">
      <div class="notice_board">
          <!-- title 열 -->
<!--             <ul class="board_row title_row ">
              <li class="w70">번호</li>
              <li class="w500">제목</li>
              <li class="w120">작성자</li>
              <li class="w100">작성일</li>
              <li class="w100">조회</li>
              <li class="w100">좋아요</li>
          </ul> -->
          <!-- 게시글 추가로 들어오는 위치 -->
      </div>

      <!-- 페이지 블럭 -->
      <div class="pagination">
          <button class="before_move" onclick="before()">이전</button>
          <div class="block">
              <!-- 블럭 추가로 들어오는 위치 -->
          </div>
          <button class="next_move" onclick="next()">다음</button>
      </div>
  </div>
</div>

</body>
</html>


<!-- 배열 명 Team 
  establishment가 '미성립'인 애들 사용
]
{
    match_id: 86,
    home_userid: 9,
    away_userid: null,
    match_date: 2023-05-17T15:00:00.000Z,
    match_time: null,
    match_place: '강서구,구로구',
    match_time_start: '01:08:00',
    match_time_end: '23:08:00',
    created: 2023-05-29T19:08:32.000Z,
    updated: null,
    establishment: '미성립'
  },
  {
    match_id: 101,
    home_userid: 2,
    away_userid: 11,
    match_date: 2023-05-29T15:00:00.000Z,
    match_time: '10:50:00',
    match_place: '동대문구',
    match_time_start: '08:53:00',
    match_time_end: '14:53:00',
    created: 2023-05-30T02:54:12.000Z,
    updated: null,
    establishment: '성립'
  },
  {
    match_id: 102,
    home_userid: 1,
    away_userid: null,
    match_date: 2023-04-30T15:00:00.000Z,
    match_time: null,
    match_place: '구로구,종로구',
    match_time_start: '06:19:00',
    match_time_end: '06:20:00',
    created: 2023-05-30T12:19:58.000Z,
    updated: null,
    establishment: '미성립'
  }
] -->