<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>매칭된 경기 없을 시</title>
  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../public/stylesheets/common.css">
  <link rel="stylesheet" href="../public/stylesheets/noMatch.css" />
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script defer src="../public/javascripts/common.js"></script>
  <script defer src="../public/javascripts/main.js"></script>
</head>
<body>
  <!-- 매칭된 경기가 없을 경우 나오는 페이지 -->
    <!--HEADER-->
    <!--HEADER-->
    <header>
      <div class="inner">

        <a href="/" class="logo">MATCH MAKER</a>

        <ul class="main-menu">
          <li class="menu">
            <div class="menu__name">My match</div>
            <div class="menu__contents">
              <ul class="inner">
                <li>${경기날짜} ${상대팀명}팀과의 경기</li>
              </ul>
            </div>
          </li>
          <li class="menu">
            <div class="menu__name">My page</div>
            <div class="menu__contents">
              <ul class="inner">
                <li>등록한 경기 정보 수정</li>
                <li>팀 승률 확인</li>
                <li>팀 프로필 변경</li>
                <li>계정 정보 변경</li>
              </ul>
            </div>
          </li>
          <li class="menu">
            <div class="menu__name">alert</div>
            <div class="menu__contents">
              <ul class="inner">
                <li>[${축구팀}]팀이 경기를 요청하였습니다.</li>
                <li>[${축구팀}]팀이 경기를 요청하였습니다.</li>
                <li>[${축구팀}]팀이 경기를 요청하였습니다.</li>
              </ul>
            </div>
          </li>
          <li class="menu">
            <div class="menu__name">
              <a href="/signin">Sign In</a>
          </il>
          </ul>
      </div>
    </header>

  <section class="notMatching">
    <div class="inner">
      <div class="msg">매칭할 수 있는 팀이 없습니다.</div>
      <div class="notMatchingBtn">
        <div class="enter fade-in" onclick="location.href=('/complete')">
          경기 등록하기
        </div>
        <div class="check fade-in" onclick="location.href=('/')">
          경기 둘러보기
        </div>
      </div>
    </div>
  </section>
</body>
</html>