<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>매칭된 경기 없을 시</title>
  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../public/stylesheets/common.css">
  <link rel="stylesheet" href="../public/stylesheets/noMatch.css" />
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script defer src="/public/javascripts/common.js"></script>
  <script defer src="/public/javascripts/main.js"></script>
</head>
<body>
  <!-- 매칭된 경기가 없을 경우 나오는 페이지 -->
    <!--HEADER-->
    <!--HEADER-->
    <header>
      <%- include ("./header.ejs") %>
    </header>

  <!--<section class="notMatching">
    <div class="inner">
      <div class="msg">매칭할 수 있는 팀이 없습니다.</div>
      <div class="notMatchingBtn">
        <div class="enter fade-in" onclick="location.href=('/confirm-place')">
          경기 등록하기
        </div>
        <div class="check fade-in" onclick="location.href=('/match-list')">
          경기 둘러보기
        </div>
      </div>
    </div>
  </section>-->
  <section class="notMatching">
    <div class="inner">
      <div class="msg">매칭할 수 있는 팀이 없습니다.</div>
      <div class="notMatchingBtn">
        <form id="registerForm" method="get" action="/matching/confirm-place">
          <button class="enter fade-in" type="submit">
            경기 등록하기
          </button>
        </form>
        <button class="check fade-in" onclick="location.href=('/matching/match-list')">
          경기 둘러보기
        </button>
      </div>
    </div>
  </section>
</body>
</html>