<!--테스트 양식입니다. 수정해주세요.-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <h1>register</h1>
    <div>
        <form action="/register" method="post">
            <input type="text" name="email" placeholder="email">
            <p><input type="text" name="password" placeholder="password"></p>
            <P><input type="submit" , value="submit"></P>
        </form>
        <div>
</body>
</html>
    