<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../public/stylesheets/common.css">
  <link rel="stylesheet" href="../public/stylesheets/signin.css">
</head>
<body>
    <!--HEADER-->
    <header>
      <div class="inner">

        <a href="/" class="logo">MATCH MAKER</a>

        <ul class="main-menu">
          <li class="menu">
            <div class="menu__name">My match</div>
            <div class="menu__contents">
              <ul class="inner">
                <li>${경기날짜} ${상대팀명}팀과의 경기</li>
              </ul>
            </div>
          </li>
          <li class="menu">
            <div class="menu__name">My page</div>
            <div class="menu__contents">
              <ul class="inner">
                <li>등록한 경기 정보 수정</li>
                <li>팀 승률 확인</li>
                <li>팀 프로필 변경</li>
                <li>계정 정보 변경</li>
              </ul>
            </div>
          </li>
          <li class="menu">
            <div class="menu__name">alert</div>
            <div class="menu__contents">
              <ul class="inner">
                <li>[${축구팀}]팀이 경기를 요청하였습니다.</li>
                <li>[${축구팀}]팀이 경기를 요청하였습니다.</li>
                <li>[${축구팀}]팀이 경기를 요청하였습니다.</li>
              </ul>
            </div>
          </li>
          <li class="menu">
            <div class="menu__name">
              <a href="/signin">Sign In</a>
          </il>
          </ul>
      </div>
    </header>

  <!-- 로그인 섹션 -->
    <section class="signin">
      <h1>로그인</h1>
      <div class="signin__card">
        <h2>환영합니동</h2>
        <form action ="/signin" method="post" >
          <input type="text" name="id" placeholder="아이디를 입력하세요." />
          <input type="password" name="pass" placeholder="비밀번호를 입력하세요." />
          <input type="submit" value="로그인" />
        </form>

        <!-- 지윤님이 작성하신 코드 -->
        <!-- <script src="../controllers/loginController.js"></script> -->

        <div class="actions">
          <a href="../signup/index.html">회원가입</a>
          <a href="javascript:void(0)">아이디 찾기</a>
          <a href="javascript:void(0)">비밀번호 찾기</a>
        </div>
      </div>
    </section>

</body>
</html>
