<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signin</title>
  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/public/stylesheets/common.css">
  <link rel="stylesheet" href="/public/stylesheets/signin.css">
</head>
<body>
    <!--HEADER-->
    <header>
      <%- include ("./header.ejs") %>
    </header>

  <!-- 로그인 섹션 -->
    <section class="signin">
      <h1>로그인</h1>
      <div class="signin__card">
        <form id="loginForm" action ="/login" method="post" >
          <input type="text" name="id" placeholder="아이디를 입력하세요." />
          <input type="password" name="password" placeholder="비밀번호를 입력하세요." />
          <input type="submit" value="로그인" />
        </form>


  <script>
      // URLSearchParams 객체
      const url = window.location.href;
      urlSearch = new URLSearchParams(location.search);
      const redirection = urlSearch.get('redirection');

      // 쿼리스트링이 있는 경우, form의 action 속성을 업데이트
      if (redirection) {
        const loginForm = document.getElementById('loginForm');
        loginForm.action = `/login?redirection=${redirection}`;
      }
  </script>


        <div class="actions">
          <a href="/signup">회원가입</a>
        </div>
      </div>
    </section>

</body>
</html>
