<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../public/stylesheets/common.css">
  <link rel="stylesheet" href="../public/stylesheets/signin.css">
</head>
<body>
  <!--HEADER-->
    <!--HEADER-->
    <header>
      <div class="inner">

        <a href="/" class="logo">MATCH MAKER</a>

        <ul class="main-menu">
          <li class="menu">
            <div class="menu__name">My match</div>
            <div class="menu__contents">
              <ul class="inner">
                <li>${경기날짜} ${상대팀명}팀과의 경기</li>
              </ul>
            </div>
          </li>
          <li class="menu">
            <div class="menu__name">My page</div>
            <div class="menu__contents">
              <ul class="inner">
                <li>등록한 경기 정보 수정</li>
                <li>팀 승률 확인</li>
                <li>팀 프로필 변경</li>
                <li>계정 정보 변경</li>
              </ul>
            </div>
          </li>
          <li class="menu">
            <div class="menu__name">alert</div>
            <div class="menu__contents">
              <ul class="inner">
                <li>[${축구팀}]팀이 경기를 요청하였습니다.</li>
                <li>[${축구팀}]팀이 경기를 요청하였습니다.</li>
                <li>[${축구팀}]팀이 경기를 요청하였습니다.</li>
              </ul>
            </div>
          </li>
          <li class="menu">
            <div class="menu__name">
              <a href="/signin">Sign In</a>
          </il>
          </ul>
      </div>
    </header>
    
  <!-- 회원가입 섹션 -->
  <section class="signup">
    <h1>회원가입</h1>
    <div class="signup__card">
      <form action="" >
        <p>팀명 입력</p>
        <input type="text" name="team__name" placeholder="팀명을 입력하세요.">
        <p>아이디 입력</p>
        <input type="text" name="id" placeholder="아이디를 입력하세요." />
        <p>비밀번호 입력</p>
        <input type="password" name="pass" placeholder="비밀번호를 입력하세요." />
        <p>비밀번호 확인</p>
        <input type="password__confirm" name="pass__check" placeholder="비밀번호 확인" />
        <input type="submit" value="설정 완료"></input>
      </form>
    </div>
  </section>
  
</body>
</html>