.Matches .matchedInfo__card .comment {
  color: #2c2a29;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 50px;
}
.matched,
.Matches {
  height: 100vh;
  background-image: url("../images/soccer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.matched h1,
.Matches h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 100px 0 0 0;
}
.matchedInfo__card {
  width: 70%;
  margin: 100px auto;
  /* border-radius: 6px; */
  background-color: #f6f5f0;
  box-shadow: 2px 2px 20px rgba(0,0,0,.3);
  color: #555;
  border-top: 2px solid #000;
}
/* .matchedInfo__card p {
  font-size: 24px;
  
} */
.matchedInfo__card > div {
  border-bottom: 1px solid #ddd;
  font-size: 0;
}

.matchedInfo__card > div.top {
  border-bottom: 1px solid #999;
}

.matchedInfo__card > div:last-child {
  border-bottom: 1px solid #000;
}

.matchedInfo__card > div > div {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-size: 1.4rem;
}


.matchedInfo__card > div.top > div {
  font-weight: 600;
}

.matchedInfo__card .match_place, 
.matchedInfo__card .RQplace,
.matchedInfo__card .date, 
.matchedInfo__card .match_date {
  width: 25%;
  text-align: center;
}

/* .matchedInfo__card .top .match_place {
  text-align: center;
} */

.matchedInfo__card .teamname,
.matchedInfo__card .overlap_start,
.matchedInfo__card .match_time_start,
.matchedInfo__card .match_time_end,
.matchedInfo__card .teamname,
.matchedInfo__card .RQteamname,
.matchedInfo__card .RQstart{
  width:17%;
  text-align: center;
}

/* .matchedInfo__card .overlap_start {
  width: 15%;
  text-align: center;
} */

/* .matchedInfo__card .teamname {
  width: 20%;
  text-align: center;
} */


.matchedInfo__card .request_match,
.matchedInfo__card .edit_match,
/* .match_edit, */
.matchedInfo__card .accept_match {
  display: inline-block;
  padding:15px 0;
  text-align:center;
  font-size:1.4rem;
  width: 16%;


}

.matchedInfo__card .accept .RQplace,
.matchedInfo__card .accept .date,
.matchedInfo__card .edit .match_date,
.matchedInfo__card .edit .match_place,
.matchedInfo__card .requestedMatch .match_place,
.matchedInfo__card .requestedMatch .match_date {
  display: inline-block;
  padding:15px 0;
  height: 100%;
  font-size: 1.4rem;
  width: 25%;
  text-align: center;
}


.matchedInfo__card .requestedMatch .teamname,
.matchedInfo__card .accept .RQteamname,
.matchedInfo__card .accept .RQstart,
.matchedInfo__card .edit .match_time_end,
.matchedInfo__card .edit .match_time_start,
.matchedInfo__card .requestedMatch .overlap_start {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-size: 1.4rem;
  width:17%;
  text-align: center;
}
.matchedInfo__card .requestedMatch .enter,
.matchedInfo__card .accept .enter {
  width: 10%;
  margin: 10px;
  text-align: center;
}

.match_edit{
  background-color: #666;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  line-height: 50px;
  width: 10%;
}

/*my-match에서 사용*/

.matchedInfo__card .myMatch .match_date,
.matchedInfo__card .myMatch .match_place,
.matchedInfo__card .myMatch .match_time,
.matchedInfo__card .myMatch .match_date {
  display: inline-block;
  padding:15px 0;
  height: 100%;
  font-size: 1.4rem;
  width: 10%;
  text-align: center;
}

.matchedInfo__card .myMatch .cancelBtn a,
.matchedInfo__card .myMatch .reviewBtn a {
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
}

.matchedInfo__card .myMatch .cancelBtn,
.matchedInfo__card .myMatch .reviewBtn {
  /* background-color: #666;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  line-height: 50px;
  width: 10%; */

  display: inline-block;
  background-color: #666;
  border: none;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  line-height: 50px;
  width: 100px;
  border-radius: 20px;
}


.myMatch .status_before {
  display: inline-block;
  color: #669900;
  padding:15px 0;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

.myMatch .status_after {
  display: inline-block;
  color: #656565;
  padding:15px 0;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}
