label {
  color: black;
}

.match_making {
  margin-top: 50px;
  padding: 100px 0 240px;
  background-image: url("../images/soccer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.match_making h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.match_making__card {
  width: 500px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #f6f5f0;
  box-shadow: 2px 2px 20px rgba(0,0,0,.3);
  color: #555;
}

.match_making__card form {
  padding: 30px 22px;
}

.match_making__card form input {
  /* width: 100%; */
  margin-bottom: 12px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px
}
.match_making__card form [type="submit"] {
  width: 100%;
  background-color: #666;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.option__title{
  font-weight: 700;
}