/* Team Info styles */
body {
  background-color: #eee;
}

.team_info {
  margin-top: 5px;
  padding: 100px 0 240px;
}

.team_info_wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: inherit;
}

.team_info_left {
  width: 340px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 40px;
  text-align: center;
  position: relative;
}

.team_info_left .profile {}

.team_info_left .profile p {
  display: inline-block;
  list-style: none;
  margin-bottom: 1em;
  /* text-align: left; 
  left: 0; */
}

.team_info_left .profile p.content {
  font-weight: 700;
}

.team_info_right {
  width: 340px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.team_info li {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
  /* 왼쪽 정렬 */
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.team01 .profile img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px auto;
}

.team_profile ul {
  list-style: none;
  margin-top: 10px;
}

.team_profile li {
  font-size: 14px;
  margin-bottom: 5px;
}

.profile {
  /* margin-top: 20px; */
}

/* Donut chart styles */
.donut-chart {
  /* margin-bottom: 20px;
  text-align: center; */
}

.donut-chart canvas {
  /* width: 200px;
  height: 200px;
  border-radius: 50%; */
}

.donut-label {
  font-size: 16px;
  font-weight: bold;
}

section a.btnView {
  width: 180px;
  height: 32px;
  /* margin: 0px auto 20px; */
  padding: 10px;
  background-color: #444;
  border-radius: 16px;
  font-weight: bold;
  font-size: 10px;
  font-family: "arial";
  color: #fff;
  line-height: 32px;
  text-align: center;
}

.team_edit {
  background-color: #666;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 20px auto 0;
  text-align: center;
  line-height: 50px;
}

.info_box {
  display: flex;
  justify-content: center;
  width: 300px;
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
  margin: 30px 10px;
}

.score_info {}

.category {
  display: inline-block;
  font-size: 14px;
  color: #727272;
  padding: 5px;
}

.win_score {
  display: inline-block;
  font-size: 45px;
  font-weight: 700;
  padding: 10px 0;
  color: #56C453;
}

.total_score {
  display: inline-block;
  font-size: 16px;
  padding: 10px 0;
}

.donut-chart {
  display: inline-block;
  width: 200px;
}

.manner_score {
  font-size: 60px;
  font-weight: 700;
  margin: auto 0;
  color: #339FFF;
}

.manner_score>p {
  font-size: 16px;
  color: #5F5C5B;
  text-align: center;
}